################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
/obj/Debug
/packages
/KpOpcUA.sln
